html * {
    font-family: 'Trebuchet MS', sans-serif;
}

html, body {margin-top: 10px; height: 100%; overflow: hidden}

body { 
    background-color: #2e34a1;
    color: white;
}

.header {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: .05%;
    margin-bottom: 5%;
    background: #1e216c;
    color: white;
    font-size: auto;
    max-width: 50%;
    border-radius: 10px;
}

.button {
    background-color: #1e216c;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.4s;
    box-shadow: 0 2px rgb(15, 33, 118);
  }

.button:hover {
    background-color: #4262f2;
    color: white;
}

.button:active {
    background-color: #4262f2;
    box-shadow: 0 1px rgb(15, 33, 118);
    transform: translateY(2px);
}

.mainMenu {
    padding: auto;
    margin: auto;
  }

table {
    text-align: left;
}

.td1 {
    min-width: 150px;
    padding-bottom: 7px;
}

.td2 {
    font-size: 35px;
    min-width: 10px;
    padding-left: 20px;
    text-align: center;
}